In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./음식점.csv', index_col=0) 
print(data.head())

  상세영업상태명     인허가일자  폐업일자                       지번주소  \
0      영업  20200713   NaN  서울특별시 성북구 길음동 1280-6 대우상가
1      영업  20200713   NaN   서울특별시 송파구 방이동 44-3 현대토픽스
2      영업  20200713   NaN      서울특별시 동대문구 전농동 38-104
3      영업  20200713   NaN       서울특별시 강북구 수유동 413-25
5      영업  20200713   NaN       서울특별시 중랑구 면목동 156-23

                                         도로명주소   업태구분명        좌표정보(X)  \
0  서울특별시 성북구 길음로 103 대우상가 상가동 1층 105106호 (길음동)     편의점  201517.385330
1                   서울특별시 송파구 위례성대로 6 1층 (방이동)     커피숍  209929.574783
2                서울특별시 동대문구 전농로16길 54 1층 (전농동)     커피숍  205263.826419
3                 서울특별시 강북구 삼양로87길 46 1층 (수유동)  일반조리판매  201292.010942
5                 서울특별시 중랑구 동일로92길 49 1층 (면목동)     편의점  207235.576171

         좌표정보(Y)
0  456504.561867
1  446085.121305
2  452869.992526
3  459312.320008
5  453468.014988

In [3]:
data = pd.read_excel('./임대료_공실률_2013_2019.xlsx', index_col=0) 
data.reset_index(inplace=True)
data

            기간    구분    지역    임대료   공실률
0     2013.1/4  서울평균  서울평균   59.0   5.3
1     2013.1/4  도심지역    소계   99.8   5.5
2     2013.1/4  도심지역   광화문   66.1     1
3     2013.1/4  도심지역   동대문   34.0   5.8
4     2013.1/4  도심지역    명동  249.9   7.1
...        ...   ...   ...    ...   ...
1279  2019.4/4  기타지역   장안동   24.2   9.7
1280  2019.4/4  기타지역    천호   36.7    10
1281  2019.4/4  기타지역   청량리   46.7   4.5
1282  2019.4/4  기타지역   혜화동   64.2  13.7
1283  2019.4/4  기타지역    화곡   32.5  13.8

[1284 rows x 5 columns]

In [4]:

data.replace(['2013.1/4', '2013.2/4','2013.3/4','2013.4/4'], ['2013.1','2013.4','2013.7','2013.10'],inplace=True)
data.replace(['2014.1/4', '2014.2/4','2014.3/4','2014.4/4'], ['2014.1','2014.4','2014.7','2014.10'],inplace=True)
data.replace(['2015.1/4', '2015.2/4','2015.3/4','2015.4/4'], ['2015.1','2015.4','2015.7','2015.10'],inplace=True)
data.replace(['2016.1/4', '2016.2/4','2016.3/4','2016.4/4'], ['2016.1','2016.4','2016.7','2016.10'],inplace=True)
data.replace(['2017.1/4', '2017.2/4','2017.3/4','2017.4/4'], ['2017.1','2017.4','2017.7','2017.10'],inplace=True)
data.replace(['2018.1/4', '2018.2/4','2018.3/4','2018.4/4'], ['2018.1','2018.4','2018.7','2018.10'],inplace=True)
data.replace(['2019.1/4', '2019.2/4','2019.3/4','2019.4/4'], ['2019.1','2019.4','2019.7','2019.10'],inplace=True)

In [5]:
data

           기간    구분    지역    임대료   공실률
0      2013.1  서울평균  서울평균   59.0   5.3
1      2013.1  도심지역    소계   99.8   5.5
2      2013.1  도심지역   광화문   66.1     1
3      2013.1  도심지역   동대문   34.0   5.8
4      2013.1  도심지역    명동  249.9   7.1
...       ...   ...   ...    ...   ...
1279  2019.10  기타지역   장안동   24.2   9.7
1280  2019.10  기타지역    천호   36.7    10
1281  2019.10  기타지역   청량리   46.7   4.5
1282  2019.10  기타지역   혜화동   64.2  13.7
1283  2019.10  기타지역    화곡   32.5  13.8

[1284 rows x 5 columns]

In [6]:
data1 = pd.read_excel('./임대료_공실률_2013_2019.xlsx', index_col=0) 
data1.reset_index(inplace=True)
data1

            기간    구분    지역    임대료   공실률
0     2013.1/4  서울평균  서울평균   59.0   5.3
1     2013.1/4  도심지역    소계   99.8   5.5
2     2013.1/4  도심지역   광화문   66.1     1
3     2013.1/4  도심지역   동대문   34.0   5.8
4     2013.1/4  도심지역    명동  249.9   7.1
...        ...   ...   ...    ...   ...
1279  2019.4/4  기타지역   장안동   24.2   9.7
1280  2019.4/4  기타지역    천호   36.7    10
1281  2019.4/4  기타지역   청량리   46.7   4.5
1282  2019.4/4  기타지역   혜화동   64.2  13.7
1283  2019.4/4  기타지역    화곡   32.5  13.8

[1284 rows x 5 columns]

In [7]:
data = pd.concat([data,data1], ignore_index=True)
data

            기간    구분    지역    임대료   공실률
0       2013.1  서울평균  서울평균   59.0   5.3
1       2013.1  도심지역    소계   99.8   5.5
2       2013.1  도심지역   광화문   66.1     1
3       2013.1  도심지역   동대문   34.0   5.8
4       2013.1  도심지역    명동  249.9   7.1
...        ...   ...   ...    ...   ...
2563  2019.4/4  기타지역   장안동   24.2   9.7
2564  2019.4/4  기타지역    천호   36.7    10
2565  2019.4/4  기타지역   청량리   46.7   4.5
2566  2019.4/4  기타지역   혜화동   64.2  13.7
2567  2019.4/4  기타지역    화곡   32.5  13.8

[2568 rows x 5 columns]

In [8]:
data.replace(['2013.1/4', '2013.2/4','2013.3/4','2013.4/4'], ['2013.2','2013.5','2013.8','2013.11'],inplace=True)
data.replace(['2014.1/4', '2014.2/4','2014.3/4','2014.4/4'], ['2014.2','2014.5','2014.8','2014.11'],inplace=True)
data.replace(['2015.1/4', '2015.2/4','2015.3/4','2015.4/4'], ['2015.2','2015.5','2015.8','2015.11'],inplace=True)
data.replace(['2016.1/4', '2016.2/4','2016.3/4','2016.4/4'], ['2016.2','2016.5','2016.8','2016.11'],inplace=True)
data.replace(['2017.1/4', '2017.2/4','2017.3/4','2017.4/4'], ['2017.2','2017.5','2017.8','2017.11'],inplace=True)
data.replace(['2018.1/4', '2018.2/4','2018.3/4','2018.4/4'], ['2018.2','2018.5','2018.8','2018.11'],inplace=True)
data.replace(['2019.1/4', '2019.2/4','2019.3/4','2019.4/4'], ['2019.2','2019.5','2019.8','2019.11'],inplace=True)

In [9]:
data

           기간    구분    지역    임대료   공실률
0      2013.1  서울평균  서울평균   59.0   5.3
1      2013.1  도심지역    소계   99.8   5.5
2      2013.1  도심지역   광화문   66.1     1
3      2013.1  도심지역   동대문   34.0   5.8
4      2013.1  도심지역    명동  249.9   7.1
...       ...   ...   ...    ...   ...
2563  2019.11  기타지역   장안동   24.2   9.7
2564  2019.11  기타지역    천호   36.7    10
2565  2019.11  기타지역   청량리   46.7   4.5
2566  2019.11  기타지역   혜화동   64.2  13.7
2567  2019.11  기타지역    화곡   32.5  13.8

[2568 rows x 5 columns]

In [10]:
data2 = pd.read_excel('./임대료_공실률_2013_2019.xlsx', index_col=0) 
data2.reset_index(inplace=True)
data2

            기간    구분    지역    임대료   공실률
0     2013.1/4  서울평균  서울평균   59.0   5.3
1     2013.1/4  도심지역    소계   99.8   5.5
2     2013.1/4  도심지역   광화문   66.1     1
3     2013.1/4  도심지역   동대문   34.0   5.8
4     2013.1/4  도심지역    명동  249.9   7.1
...        ...   ...   ...    ...   ...
1279  2019.4/4  기타지역   장안동   24.2   9.7
1280  2019.4/4  기타지역    천호   36.7    10
1281  2019.4/4  기타지역   청량리   46.7   4.5
1282  2019.4/4  기타지역   혜화동   64.2  13.7
1283  2019.4/4  기타지역    화곡   32.5  13.8

[1284 rows x 5 columns]

In [11]:
data = pd.concat([data,data2], ignore_index=True)
data

            기간    구분    지역    임대료   공실률
0       2013.1  서울평균  서울평균   59.0   5.3
1       2013.1  도심지역    소계   99.8   5.5
2       2013.1  도심지역   광화문   66.1     1
3       2013.1  도심지역   동대문   34.0   5.8
4       2013.1  도심지역    명동  249.9   7.1
...        ...   ...   ...    ...   ...
3847  2019.4/4  기타지역   장안동   24.2   9.7
3848  2019.4/4  기타지역    천호   36.7    10
3849  2019.4/4  기타지역   청량리   46.7   4.5
3850  2019.4/4  기타지역   혜화동   64.2  13.7
3851  2019.4/4  기타지역    화곡   32.5  13.8

[3852 rows x 5 columns]

In [12]:
data.replace(['2013.1/4', '2013.2/4','2013.3/4','2013.4/4'], ['2013.3','2013.6','2013.9','2013.12'],inplace=True)
data.replace(['2014.1/4', '2014.2/4','2014.3/4','2014.4/4'], ['2014.3','2014.6','2014.9','2014.12'],inplace=True)
data.replace(['2015.1/4', '2015.2/4','2015.3/4','2015.4/4'], ['2015.3','2015.6','2015.9','2015.12'],inplace=True)
data.replace(['2016.1/4', '2016.2/4','2016.3/4','2016.4/4'], ['2016.3','2016.6','2016.9','2016.12'],inplace=True)
data.replace(['2017.1/4', '2017.2/4','2017.3/4','2017.4/4'], ['2017.3','2017.6','2017.9','2017.12'],inplace=True)
data.replace(['2018.1/4', '2018.2/4','2018.3/4','2018.4/4'], ['2018.3','2018.6','2018.9','2018.12'],inplace=True)
data.replace(['2019.1/4', '2019.2/4','2019.3/4','2019.4/4'], ['2019.3','2019.6','2019.9','2019.12'],inplace=True)

In [13]:
data

           기간    구분    지역    임대료   공실률
0      2013.1  서울평균  서울평균   59.0   5.3
1      2013.1  도심지역    소계   99.8   5.5
2      2013.1  도심지역   광화문   66.1     1
3      2013.1  도심지역   동대문   34.0   5.8
4      2013.1  도심지역    명동  249.9   7.1
...       ...   ...   ...    ...   ...
3847  2019.12  기타지역   장안동   24.2   9.7
3848  2019.12  기타지역    천호   36.7    10
3849  2019.12  기타지역   청량리   46.7   4.5
3850  2019.12  기타지역   혜화동   64.2  13.7
3851  2019.12  기타지역    화곡   32.5  13.8

[3852 rows x 5 columns]

In [14]:
data.set_index('기간',inplace=True)
data

           구분    지역    임대료   공실률
기간
2013.1   서울평균  서울평균   59.0   5.3
2013.1   도심지역    소계   99.8   5.5
2013.1   도심지역   광화문   66.1     1
2013.1   도심지역   동대문   34.0   5.8
2013.1   도심지역    명동  249.9   7.1
...       ...   ...    ...   ...
2019.12  기타지역   장안동   24.2   9.7
2019.12  기타지역    천호   36.7    10
2019.12  기타지역   청량리   46.7   4.5
2019.12  기타지역   혜화동   64.2  13.7
2019.12  기타지역    화곡   32.5  13.8

[3852 rows x 4 columns]

In [15]:
data.to_csv('./월별_임대료_공실률.csv')

In [16]:
data2 = pd.read_excel('./전출인구_2013_2019.xlsx', index_col=0) 
data2.reset_index(inplace=True)

In [17]:
data2.set_index('기간',inplace=True)
data2
data2.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 37647 entries, 2013.1 to 2019.12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       37647 non-null  object
 1   동       37647 non-null  object
 2   전입      37647 non-null  float64
 3   전출      37647 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.4+ MB

In [18]:
data2.to_csv('./전출인구_2013_2019.csv')

In [19]:
data3 = pd.read_excel('./세대수_2013_2019.xlsx', index_col=0) 
data3

         자치구     동    전체세대수
기간
2013.11   합계    합계  4184122
2013.11  종로구    소계    73854
2013.11  종로구   사직동     4469
2013.11  종로구   삼청동     1541
2013.11  종로구   부암동     4564
...      ...   ...      ...
2019.12  강동구  둔촌1동      164
2019.12  강동구  둔촌2동    11212
2019.12  강동구  암사1동    16144
2019.12  강동구  천호2동    17602
2019.12  강동구    길동    20597

[33271 rows x 3 columns]

In [20]:
df = pd.concat([data,data2],axis=0)

In [21]:
df.head(50)

            구분    지역    임대료   공실률    구    동  전입  전출
기간
2013.1    서울평균  서울평균   59.0   5.3  NaN  NaN NaN NaN
2013.1    도심지역    소계   99.8   5.5  NaN  NaN NaN NaN
2013.1    도심지역   광화문   66.1     1  NaN  NaN NaN NaN
2013.1    도심지역   동대문   34.0   5.8  NaN  NaN NaN NaN
2013.1    도심지역    명동  249.9   7.1  NaN  NaN NaN NaN
2013.1    도심지역   서울역   59.9   5.4  NaN  NaN NaN NaN
2013.1    도심지역    종로   87.0   8.5  NaN  NaN NaN NaN
2013.1    도심지역   충무로   28.6   9.1  NaN  NaN NaN NaN
2013.1    강남지역    소계   75.1   7.2  NaN  NaN NaN NaN
2013.1    강남지역  강남대로  128.6   4.3  NaN  NaN NaN NaN
2013.1    강남지역  도산대로   43.8   5.7  NaN  NaN NaN NaN
2013.1    강남지역    서초   30.7  18.8  NaN  NaN NaN NaN
2013.1    강남지역    신사   75.4   7.9  NaN  NaN NaN NaN
2013.1    강남지역  압구정동   51.5   3.1  NaN  NaN NaN NaN
2013.1    강남지역    청담   67.4     2  NaN  NaN NaN NaN
2013.1    강남지역  테헤란로   47.0  14.4  NaN  NaN NaN NaN
2013.1  신촌마포지역    소계   49.3   5.9  NaN  NaN NaN NaN
2013.1  신촌마포지역   공덕역   36.6   5.3  NaN  NaN NaN NaN
2013.1  신촌마포지역    신촌   58.2   5.1  NaN  NaN NaN NaN
2013.1  신촌마포지역  홍대합정   44.1   7.7  NaN  NaN NaN NaN
2013.1    기타지역    소계   43.6   4.6  NaN  NaN NaN NaN
2013.1    기타지역  건대입구   49.3   4.4  NaN  NaN NaN NaN
2013.1    기타지역   경희대   49.3   2.8  NaN  NaN NaN NaN
2013.1    기타지역    군자   38.7   5.1  NaN  NaN NaN NaN
2013.1    기타지역    목동   30.6   4.4  NaN  NaN NaN NaN
2013.1    기타지역    사당   50.9     1  NaN  NaN NaN NaN
2013.1    기타지역  성신여대   40.7   2.9  NaN  NaN NaN NaN
2013.1    기타지역    수유   58.9   4.6  NaN  NaN NaN NaN
2013.1    기타지역    신림   50.4   4.3  NaN  NaN NaN NaN
2013.1    기타지역   영등포   33.3     7  NaN  NaN NaN NaN
2013.1    기타지역    용산   36.9   3.6  NaN  NaN NaN NaN
2013.1    기타지역   이태원   45.3   3.3  NaN  NaN NaN NaN
2013.1    기타지역    잠실   42.2   9.2  NaN  NaN NaN NaN
2013.1    기타지역   장안동   26.1   3.9  NaN  NaN NaN NaN
2013.1    기타지역    천호   36.5   3.6  NaN  NaN NaN NaN
2013.1    기타지역   청량리   42.9   7.4  NaN  NaN NaN NaN
2013.1    기타지역   혜화동   69.9   3.6  NaN  NaN NaN NaN
2013.1    기타지역    화곡   21.9  16.4  NaN  NaN NaN NaN
2013.4    서울평균  서울평균   59.6   5.5  NaN  NaN NaN NaN
2013.4    도심지역    소계  103.2   6.3  NaN  NaN NaN NaN
2013.4    도심지역   광화문   66.2   3.6  NaN  NaN NaN NaN
2013.4    도심지역   동대문   35.4   7.1  NaN  NaN NaN NaN
2013.4    도심지역    명동  261.3   6.9  NaN  NaN NaN NaN
2013.4    도심지역   서울역   58.8   5.2  NaN  NaN NaN NaN
2013.4    도심지역    종로   89.7   9.7  NaN  NaN NaN NaN
2013.4    도심지역   충무로   28.6   5.5  NaN  NaN NaN NaN
2013.4    강남지역    소계   75.0   7.3  NaN  NaN NaN NaN
2013.4    강남지역  강남대로  128.3   4.8  NaN  NaN NaN NaN
2013.4    강남지역  도산대로   43.9   8.4  NaN  NaN NaN NaN
2013.4    강남지역    서초   29.5  17.1  NaN  NaN NaN NaN